@media screen {
    html {
        background: url("../img/SpeedBackground.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    body {
        max-width: 600px;
        margin: auto;
        color: #d4dee9;
    }

    .heading {
        display: inline-block;
        margin: 40px 0px 30px 12px;
    }

    h1 {
        font-family: russo;
        font-size: 60px;
        color: #dda544;
    }

    #animation {
        font-size: 60px;
        color: #275383;
        font-family: russo, serif;
        animation: typing 4s infinite;

    }

    @keyframes typing {
        0% {color: #275383; background-color: #8f8f8f}
        40% {color: darkolivegreen; background: none}
        60% {color: darkolivegreen; background: none}
        100% {color: #275383; background-color: #8f8f8f}


    }

    main {
        font-size: x-large;
        font-family: roboto;
        text-align: center;
    }

    .choices {
        font-size: medium;
        display: inline-block;

    }

    #ignoreCasing {
        padding-right: 230px;
    }

    #selectTextLabel {
        font-size: medium;
        text-indent: 72%;
        margin-right: 50px;
    }

    #selectText {
        width: 150px;
        height: 30px;
        background-color: black;
        border-width: 2px;
        border-color: #dda544;
        border-style: ridge;
        border-radius: 8px;
        color: #c7dff5;
        margin-left: auto;

    }
    .selectText {
        display: block;
        align-content: end;
    }

    #textBox {
        width: 94%;
        height: 450px;
        background-color: black;
        border-radius: 14px;
        border-width: 8px;
        border-style: ridge;
        border-color: #dda544;
        padding: 10px;

    }

    #title {
        font-style: italic;
        text-align: center;
        font-size: 30px;
    }

    #textInformation {
        font-style: italic;
        text-align: center;
        font-size: 16px;
        color: #dda544;
    }

    .textContent {
        resize: none;
        color: #275383;
        width: 95%;
        height: 300px;
        background-color: black;
        padding: 5px;
        font-size: 22px;
        text-align: left;
        white-space: break-spaces;
    }

    #textContent .correct {
        color: darkolivegreen;
    }

    .incorrect {
        color: darkred;
    }

    .incorrectSpace {
//        background-color: darkred;
        text-decoration: underline;
        color: darkred;
    }

    .current {
        background-color: #8f8f8f;
    }

    #inputBox {
        height: 25px;
        width: 250px;
        text-align: center;
        background-color: black;
        color: #c7dff5;

    }

    #statisticArea {

    }

    #bottomBox {
        width: 600px;
        height: 50px;
        background-color: #dda544;

    }

    @font-face {
        font-family: "roboto";
        src: url("../font/Roboto-light.ttf");
        font-style: normal;
        font-weight: 100;

    }

    @font-face {
        font-family: "russo";
        src: url("../font/RussoOne-Regular.ttf");
        font-style: normal;
        font-weight: 100;
    }



    dl {
        width: 100%;
        overflow: hidden;
        padding: 0;
        margin: auto;
        font-size: 22px;
    }
    dt {
        float: left;
        width: 30%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 0;
        margin: 0% 0% 1% 30%;
        text-align: left;
        color: #dda544;
    }
    dd {
        float: left;
        width: 30%;
        /* adjust the width; make sure the total of both is 100% */
        padding: 0;
        margin: 0;
        text-align: left;
    }

    footer {
        border-top: 2px solid dimgray;
        color: dimgray;
        font-size: medium;
        text-align: center;
    }







}